body {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    grid-template-columns: var(--container) 1fr var(--container);
    grid-template-areas: '. header .' '. content .' '. footer .';
    min-height: 100vh;
}
